.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
}

.question {
	text-align: center;
}

.option {
	margin-bottom: 20px;
}

.contractAnswer {
	max-width: 350px;
	margin-bottom: 10px;
}
